<h2> Table here</h2>
<table class='table'>

  <script>
    console.log($('body'))
    $(function(){
      $('.btn-default, .btn-success').click(function(event){
        console.log('catch');
        $(this).toggleClass('btn-default');
        $(this).toggleClass('btn-success');
      
      });
    
    });
  </script>
  {% for i in blocks%}
    <tr>
     {% for day in days %}
        <td> 
          <button type="button" class="btn btn-default">{{ day }} {{ i }}</button> 
        </td> 
      {% endfor %}
    </tr>
  {% endfor %}

</table>
